{% extends '_base.html' %}

{% load i18n %}

{% block title %}{% translate 'Log Out' %}{% endblock %}

{% block content %}
  <h1>{% translate 'Logging Out...' %}</h1>
  <p>{% translate 'Are you sure you want to log out?' %}</p>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <button class="btn btn-secondary" type="submit">{% translate 'Log Out' %}</button>
  </form>
{% endblock content %}
