{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% translate 'Sign Up' %}{% endblock title %}

{% block content %}
  <h2>{% translate 'Sign Up' %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-success" type="submit">{% translate 'Sign Up' %}</button>
  </form>
{% endblock content %}
