h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  font-family: Ubuntu, "Open Sans", sans-serif;
}

/* django allauth */
.verified {
  color: blue;
}

.unverified {
  color: orange;
}

.buttonHolder {
  margin-bottom: 2em;
}
