@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1 {
    @apply text-2xl font-thin;
   }
  .btn {
    @apply bg-teal-700 text-white p-2 px-4 rounded-md hover:opacity-50;
  }
}

:root {
  --quote-color: #666;
}

.markdown {
  font-weight: 300;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 300;
    margin-bottom: 0.4rem;
  }

  h1 {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4,
  h5 {
    font-size: 1.2rem;
  }

  blockquote {
    font-style: italic;
    margin-top: 1rem;
    padding-left: 0.75em;
    border-left: 0.25em solid;
    border-color: lighten(var(--quote-color), 20%);
    color: var(--quote-color);
  }

  ul {
    list-style: disc;
    margin-left: 1.4rem;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  font-family: Ubuntu, "Open Sans", sans-serif;
}

/* django allauth */
.verified {
  color: blue;
}

.unverified {
  color: orange;
}

.buttonHolder {
  margin-bottom: 2em;
}
