{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}<name>{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
  </head>
  <body>

    <div id="navbar">
      {% if user.is_authenticated %}
        <ul class="nav bg-dark text-light  flex-column flex-sm-row">
          {% include "account_menu.html" %}
          <li class="nav-item">
            <a class="nav-link font-weight-bold text-white disabled" href="#">{{user.first_name}}</a>
          </li>
        </ul>
      {% endif %}

      {# include "lang_select.html" #}
    </div>

    <div class="container p-4 pb-5 mb-5">
      {% block content %} {% endblock content %}
    </div>
  </body>
</html>
