{% load i18n %}

<li class="nav-item">
  <a class="nav-link text-light"  href="{% url 'account_change_password' %}">
    {% translate "Change Password" %}
  </a>
</li>
{% if user.is_staff %}
  <li class="nav-item">
    <a class="nav-link text-light"  href="{% url 'admin:index' %}">
      {% translate "Admin" %}
    </a>
  </li>
{% endif %}
<li class="nav-item">
  <a class="nav-link text-light"  href="{% url 'account_logout' %}">
    {% translate "Logout" %}
  </a>
</li>
