{% extends '_base.html' %}

{% load i18n %}
{% load socialaccount %}

{% block title %}Home{% endblock title %}

{% block content %}
  <h1>Homepage</h1>
  {% if user.is_authenticated %}
    <p>{% translate 'Hi' %} {{ user.email }}!</p>
    {% if user.is_staff %}
      <p>
        <a href="{% url 'admin:index' %}">{% translate 'You are an admin' %}</a>
      </p>
    {% endif%}
    <a class="btn btn-secondary" href="{% url 'account_logout' %}">{% translate 'Log out' %}</a>
 {% else %}
    <p>{% translate 'You are not logged in' %}</p>
    <a class="btn btn-success" href="{% url 'account_login' %}">{% translate 'Log in' %}</a>
    <a class="btn btn-secondary" href="{% url 'account_signup' %}">{% translate 'Sign up' %}</a>
  {% endif %}
{% endblock content %}
