{% load i18n %}
{% get_available_languages as LANGUAGES %}

<div id="lang-select">
    <form action="/i18n/setlang/" method="post">
        <div>
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}" />
        <label>International: </label>
        <select name="language">
            {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}">{{ lang.1 }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="OK" />
        </div>
    </form>
</div>
